# the default REND386 configuration file
# 26/8/92 by Dave Stampe
# leaving out this file defaults OK

# {} gives a list of options: end list to use defaults from then on
# these are the possible commands:

# videodev  { v16.rvd v256.rvd <or other driver> }   # sets video driver
# mousedev  { mouse <or other driver> }   # sets 2D or 2.5D mouse driver
# headdev   { <a 3D or 6D head tracker driver> }     # sets head tracking driver
# videodev  { v16.rvd v256.rvd <or other driver> }   # sets video driver
# switchdev { sega <or other driver> }    # loads a stereo shutter driver


# For these, sx..srz are floats for translation/rotation scaling
# defaults should be 1 1 2 1 1 1
# they are turned on with the /g option, and the pointer takes precedence
#
# glovedev { pglove <or other driver> } sx sy sz srx sry srz # sets glove driver
# ptrdev   { <a 3D or 6D driver> }      sx sy sz srx sry srz # sets pointer driver

# glovecursor { <a .fig glove file, handsm.fig is default } # sets glove cursor
# ptrcursor   { <a .plg pointer file } # sets 3D/6D pointer cursor

# Sets Sega driver output: able to share port with glove thru masking
# all values hex: default is {com1:3fc com2:2fc} 30 30 20 00 00
#
# segaport <adr> <write mask> <left> <right> <off> <initial port value>

# Sets Powerglove driver output: able to share port with Sega thru masking
# all values hex: default is 379 378 3 0 2 1 3 10 00
#
# pgloveport <inadr> <outadr> <write mask> <C0L0> <C0L1> <C1L0> <C1L1> <input mask> <initial port value>

# Sets Powerglove timing delays: default is 12 140
#
# pglovetime <bit delay> <byte delay>

# Sets all stereoscopic parameters (stop any time in list)
# default is 600 250 320 50 600 1.0  -- all physical parameters in mm
#
# stereoset <scrn dist> <scrn width> <pixels> <eye sp> <convergence> <world scale>

# Sets up type of stereo display. SWITCH is "flicker", SPLIT is 2 windows on screen,
# SEPERATE is different VGA cards (needs special hardware and video driver).
#
# stereotype { OFF SWITCH SEPERATE SPLIT }

# These set special parameters for stereo windows, for HMD's etc.  You can split
# the screen into windows, use "rotated" display devices, mirrors, lenses, etc.
#
# stereoleft  <x pixel shift> <x flip flag> <rotate angle> <left edge> <top edge> <right edge> <bottom edge>
# stereoright <x pixel shift> <x flip flag> <rotate angle> <left edge> <top edge> <right edge> <bottom edge>

# Now the actual devices:
# some commented out: optional

#mousedev mousedrv.rpd             # test external mouse driver
switchdev sega                     # internal Sega driver
glovedev pglove 1 1 3 1 1 1        # internal powerglove driver, extra long reach
glovecursor .\hand.fig             # default glove cursor (in home directory)

#segaport 3fc 3 3 1 0 0             # com1: Sega interface
#segaport 2fc 3 3 1 0 0              # com2: Sega interface
#segaport 2fc 3 1 3 0 0              # com2: reversed Sega
segaport 378 c 4 8 0 0             # 3DTV PCVR or printer port Sega

pgloveport 379 378 3 0 2 1 3 10 00  # printer port PowerGlove cable
pglovetime 12 140                   # normal PG delays

# headdev logitech2 0 0 0 0 0 0 	   # logitech Red Baron 6D head tracker
# headdev pots  0.25 600 0.25 600 8 0.01   # joystick 2 head tracker

