version=310
swmode=1
back=0
fore=14
bord=0
statfore=15
statback=2
mbord=14
mbback=1
mfore=11
mbold=14
mback=1
mbar=4
msel=11
port=2
baud=960
parity="N"
data=8
stop=1
terminal=2
statline=1
echo=Off
addlf=Off
striphigh=Off
destbs=On
xonxoff=Off
ctsrts=On
dsrdtr=Off
cisbauto=Off
zmodauto=On
ansback=""
cdmask=128
sound=Off
alarm=Off
keepaborted=On
showfree=On
qdbar=Off
confhang=Off
usageon=On
sback=1
capsize=4
minit="ATZ1^M~~ATV1X6W2&B1&Q6&S0=0^M"
dpref="ATDP"
dpref2="ATDP"
dpref3="ATDP"
dpost="^M"
connect="CONNECT"
busy1="NO CARRIER"
busy2="BUSY"
busy3="ERROR"
busy4="NO DIALTONE"
mhang="+++~~~ATH0^M"
autoanswer="ATS0=1^M"
dcancel="^Z"
dtime=60
ptime=1
autobaud=Off
dtrhang=On
downdir="d:\comm\dl\"
updir="d:\comm\dl\"
scriptdir="D:\COMM\TLX\SCR\"
capfile="TELIX.CAP"
usefile="TELIX.USE"
dirprog=""
image="TELIX.IMG"
editor="Q.exe"
astriph=Off
arabort=0
aecho=Off
aexpand=On
apacechr=0
alpacing=5
acpacing=0
aucrtrans=3
aulftrans=1
adcrtrans=1
adlftrans=1
ep1="Jmodem"
ep1k="J"
ep1u="JMTX"
ep1d="JMRX"
ep1t=0
ep1nn=On
ep2="Lynx"
ep2k="L"
ep2u="LXTX"
ep2d="LXRX"
ep2t=0
ep2nn=Off
ep3="Dsz Zmodem"
ep3k="D"
ep3u="ZMTX"
ep3d="ZMRX"
ep3t=0
ep3nn=Off
ep4="BiModem"
ep4k="B"
ep4u="BIMOD"
ep4d="BIMOD"
ep4t=0
ep4nn=Off
kmaxpack=94
kpad=0
knumpad=0
ksop=1
kquote=35
keol=13
kftype=1
c1addr=1016
c1irq=4
c2addr=760
c2irq=3
c3addr=1000
c3irq=4
c4addr=744
c4irq=3
c5addr=1016
c5irq=4
c6addr=1016
c6irq=4
c7addr=1016
c7irq=4
c8addr=1016
c8irq=4
xmdrlx=Off
fnguess=2
zdcrash=On
zucrash=On
zcrc32=On
